{% extends 'base.html' %}

{% block title %}Lista de Facturas{% endblock %}

{% block content %}
    <h1>Lista de Facturas</h1>
    <a href="{{ url_for('nueva_factura') }}">Agregar Nueva Factura</a>
    <ul>
        {% for factura in facturas %}
        <li>
            Cliente: {{ factura.cliente.nombre }} - Fecha: {{ factura.fecha }} - Monto: {{ factura.monto }}
            <a href="{{ url_for('editar_factura', id=factura.id) }}">Editar</a>
            <a href="{{ url_for('eliminar_factura', id=factura.id) }}" onclick="return confirm('¿Seguro que deseas eliminar esta factura?');">Eliminar</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}